@media (min-width: 1200px) {
    .cabeçalho {
        padding: 0 5%;
        display: flex
;
        justify-content: space-between;
        align-items: center;
        background: black;
        width: 80%;
        padding-left: calc((100% - 940px) / 2);
        padding-right: calc((100% - 940px) / 2);
        font-size: 0.5em;
    }
}
.cabecalho {
    +  background-color: #2D5377;
    +  color: #fff;
    +}